* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: azure;
}


#main {
    height: 100%;
    width: 100%
}

#intro {
    height: 48%;
    width: 100%;

    padding: 40px 45px;
}

#intro h1 {
    font-size: 160px;
    line-height: 150px;
    letter-spacing: -7px;
    font-weight: 500;
}

#location {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-weight: 150;
}

#lcn{
    color: lightseagreen;
}

#location h3 {
    font-size: 20px;
}

#hero-img {
    height: 76%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero.webp);
    background-size: cover;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px;
    position: fixed;
    width: 100%;
}

#nav h3 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 40px;
    margin-left: 5px;
}

#about {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

#about h2 {
    width: 60%;
    font-size: 70px;
    line-height: 88px;
    font-weight: 480;
    letter-spacing: -4.5px;
}

#about-p2 {
    width: 36%;
    height: 100%;
    border-left: 2px solid black;
    padding: 0 50px;
    display: flex;
    flex-direction: column;

}

#about-p2 h3 {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}

#icons {
    padding: 11px;
}

#icons i {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 1.2px;
}

#work {
    height: 55%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    padding: 20px 60px;
}

#work-a {
    width: 35%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

#work-a h3 {
    font-size: 40px;
}

#work-a i {
    font-size: 30px;
}

#work-b {
    width: 65%;
    height: 100%;
    padding: 0px 60px;
}


.work-b-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

.work-b-1:nth-child(1) {
    border-bottom: 2px solid black;
}

.work-b-1 .elem {
    width: 50%;
    height: 100%;
}

.work-b-1 .elem:nth-child(1) {
    border-right: 2px solid black;
    padding-right: 50px;
}

.work-b-1 .elem:nth-child(2) {
    padding-left: 60px;
}

.work-b-1 .elem h4 {
    font-size: 40px;
    font-weight: 480;
    margin-bottom: 10px;
    letter-spacing: -2px;
}

.work-b-1 .elem p {
    font-size: 18px;
    margin-top: 10px;
}